.subIcon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #D7DADC;
  background-color: aliceblue;
  margin: 3px 10px 0 0;
}

.subUl {
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  height: 87%;
  justify-content: space-between;
}

.subLi {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subLi a {
  color: #D7DADC;
  text-decoration: none;
}

.subLi a:hover {
  color: rgb(255, 166, 166)
}