.postLi {
  background-color: #343434;
  list-style-type: none;
  border: 1px solid #D7DADC;
  border-radius: 5px;
  margin-bottom: 30px;
  display: grid;
  grid-template-areas: "votes title"
                       "media media"
                       "comments comments"
                       "text text";
  grid-template-rows: fit-content(100px) fit-content(500px) 80px;
  grid-template-columns: 1fr 10fr;
  color: #D7DADC;
}

.postLi .votes {
  grid-area: votes;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #272727;
  border-top-left-radius: 5px;
}

.postLi .votes button {
  background: none;
  border: none;
  height: 26px;
}

.postLi .votes button:hover {
  cursor: pointer;
  stroke: #424141;
}

.postLi .votes button svg {
  fill :#D7DADC;
}

.postLi .votes h5{
  margin: 0 auto;
}

.postLi .titles {
  grid-area: title;
}

.postLi .titles h4 {
  font-weight: 500;
}

.postLi h4 {
  margin: 1.5% 1% -5px 1%;
}

.postLi h2 {
  margin: 2% 1%;
}

.postLi .media {
  grid-area: media;
  overflow: hidden;
  background-color: #272727;
  border-top: 1px solid #474A4B;
  border-bottom: 1px solid #474A4B;
}

.postLi .media .images {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.postLi .media .videos {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.postLi .media .link {
  padding: 2% 5% 2% 10%;
}

.postLi .media .link a {
  color: antiquewhite;
  overflow-wrap: break-word;
}

.postLi .commentsBar {
  grid-area: comments;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postLi .commentsBar h3 {
  padding: 1%;
  font-size: 1rem;
  font-weight: 300;
}

.postLi .commentsBar button {
  background: none;
  border: none;
  color: #D7DADC;
  cursor: pointer;
}

.postLi .commentsArea button:hover { 
  color: rgb(255, 166, 166)
}

.postLi .commentsArea {
  grid-area: text;
  background-color: #272727;
  border-top: 1px solid #474A4B;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.postLi .commentsArea ul {
  padding: 5px 20px 20px;
}

.postLi .commentsArea ul li {
  list-style-type: none;
  overflow-wrap: break-word;
  border-bottom: 1px solid #474A4B;
}

.postLi .commentsArea ul li a {
  color: #4fbcff;
}

.postLi .commentsArea ul li h5 {
  margin-bottom: 0;
  color: antiquewhite;
  font-weight: 500;
}

.postLi .commentsArea ul li p {
  margin-top: 0;
}